body {
  background: #c4d8e2;
}
.navbar {
  background: #a350a3;
}
.logo {
  text-decoration: none;
}
.logolinea {
  font-size: 1.5rem;
}
.left {
  color: #0f0c24;
}

.imageLogo {
  height: 110px;
}

.button {
  outline: 0;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  /* overflow: hidden; */
  cursor: pointer;
  border: 2px solid #c1436d;
  background: #c1436d;
  color: white;
  font-weight: 400;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
  border-radius: 10px;
}
.button:hover {
  background-color: #c1436d;
  color: white;
  box-shadow: 0 0 5px #c1436d, 0 0 20px rgb(255, 0, 119),
    0 0 35px rgb(255, 0, 119);
  border-color: #c1436d;
}

.joshstyles {
  border-color: #c1436d !important;
}
.joshstyles2 {
  border-color: #a350a3 !important;
}

.my-button {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 100px;
  outline: none;
  background: #c1436d;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.my-button:hover {
  background-color: #c1436d;
  color: white;
  box-shadow: 0 0 5px #c1436d, 0 0 15px rgb(255, 0, 119),
    0 0 25px rgb(255, 0, 119), 0 0 40px rgb(255, 0, 119);
  border-color: #c1436d;
}
.empty:empty {
  display: none;
}

.boxes {
  margin: 20px;
  background-color: #a350a3;
  overflow: hidden;
  height: 490px;
  width: 300px;
  border-radius: 35px;
  box-shadow: #0f0c24;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #c1436d;
  color: #0f0c24;
  transition: 0.9s;
}
.boxes:hover {
  background-color: #dda0dd;
  transition: 0.9s;
  transform: scale(1.1);
  box-shadow: #0f0c24;
  margin-bottom: 125px;
}
.boxBussines {
  background-color: #a350a3;
  transition: 0.9s;
}
.boxBussines:hover {
  background-color: #dda0dd;
  transition: 0.9s;
  transform: scale(1.1);
  box-shadow: #0f0c24;
  margin-bottom: 125px;
}
.boxTodo {
  height: 580px;
  width: 400px;
  background-color: rgb(198, 177, 198);
}
.labelTodo {
  color: white;
}
@media screen and (min-width: 390px) {
  .button {
    justify-content: center;
    align-items: center;
  }
}

.bussinesh2 {
  border-top: 1px solid pink;
  margin: 10px;
  padding: 5px;
}

.line-through {
  text-decoration: line-through;
}

.text-4xl {
  font-size: 22px;
}

/* CSS */
.button-24 {
  background: #a350a3;
  border: 2px solid #a350a3;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #0f0c24;
  border: 2px solid #0f0c24;
}

.button-24:active {
  opacity: 0.5;
}

.buttonList {
  outline: 0;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  /* overflow: hidden; */
  cursor: pointer;
  border: 2px solid #a350a3;
  background: #a350a3;
  color: white;
  font-weight: 400;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
  border-radius: 10px;
}
.buttonList:hover {
  background-color: #a350a3;
  color: white;
  box-shadow: 0 0 5px #a350a3, 0 0 20px rgb(237, 121, 217),
    0 0 35px rgb(240, 151, 212), 0 0 50px rgb(215, 89, 237);
  border-color: #a350a3;
}
.card {
  transition: 0.9s;
  background-color: #0f0c24;
  color: white;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: #0f0c24;
  margin-bottom: 125px;
}
.link {
  text-decoration: none;
}
.card1 {
  background-color: #0f0c24;
  color: white;
  border-radius: 15px;
  margin: auto;
}
.icon {
  color: #c1436d;
  font-size: 25px;
  margin-top: 15px;
}
.borderShopping {
  border: 4px solid #0f0c24;
  height: auto;
  color: #0f0c24;
}
h1 .title {
  color: #0f0c24;
}

.table-container {
  width: 600px;
}
